* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

.navbar .left {
  font-size: 32px;
  font-weight: bold;
}
.navbar .right {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: black;
}

.navbar .right a:hover {
  text-decoration: underline;
}

/* Boton responsive menu */
.navbar .bar {
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

.navbar .hamburguer {
  display: none;
}
.proyectos {
  display: grid;
  /* height: 700px; */
  grid-template-areas:
    "apt apt hom1"
    "apt apt hom1"
    "hom4 hom3 hom2"
    /*  "hom2 hom3 hom4" */
    "hom5 hom6 hom6"
    "hom5 hom6 hom6"
    "hom7 hom7 hom8"
    "hom7 hom7 hom8";
  width: 100%;
  grid-gap: 16px;
}

#apartamento {
  grid-area: apt;
}

#casa1 {
  grid-area: hom1;
}

#casa2 {
  grid-area: hom2;
}

#casa3 {
  grid-area: hom3;
}

#casa4 {
  grid-area: hom4;
}
#casa5 {
  grid-area: hom5;
}

#casa6 {
  grid-area: hom6;
}
#casa7 {
  grid-area: hom7;
}

#casa8 {
  grid-area: hom8;
}

.proyecto {
  /*  width: 500px; */
  position: relative;
}

.proyecto img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.proyecto .superpuesto {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}

.proyecto .superpuesto:hover {
  opacity: 1;
  cursor: pointer;
}

.superpuesto.blanco {
  color: white;
}

.footer {
  text-align: center;
  padding: 64px;
}

/* Responsive - Media Queries */

@media only screen and (max-width: 1100px) {
  .container {
    margin: 0;
    max-width: 100%;
  }

  .proyectos {
    display: grid;
    grid-template-areas:
      "apt apt "
      "hom1 hom2"
      "hom4 hom3 "
      "hom6 hom6 "
      "hom5 hom7 "
      "hom8 hom8 ";
  }
}

/* Responsive - Media Queries -Telefono */

@media only screen and (max-width: 768px) {
  /* .container {
    max-width: 100%;
  } */

  .proyectos {
    margin: 0;
    margin-top: 100px;
  }
  .navbar {
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
  }
  .navbar .right {
    display: none;
  }
  /* Aparecer el menu hamburguesa*/
  .navbar .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .proyectos {
    display: grid;
    grid-template-areas:
      "apt apt "
      "hom1 hom1"
      "hom2 hom2 "
      "hom4 hom3 "
      "hom6 hom6 "
      "hom5 hom5 "
      "hom7 hom7"
      "hom8 hom8";
  }
  .proyecto .superpuesto {
    font-size: 24px;
    text-align: center;
  }

  .footer {
    font-size: 14px;
    padding: 32px;
  }
}
